html,
body {
    height: 100%;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.container {
        border-style: double;
        margin-top: 50px;
    }

.alert-success, 
.alert-danger {
    width: 25%;
    font-size: 16px;
}

.nav-pills {
        margin-top: 30px;
        text-align:center;
    }

.nav-pills > li {
    float:none;
    display:inline-block;
}

h2, h3 {
    font-family: 'Merriweather Sans', sans-serif;
}

.copyright {
    font-size: 18px;
    color: #999999;

}

ul {
    font-size: 18px;
}

.create {
    font-size: 18px;
}

.create-btn {
    margin-top: 10px;
}

input {
    text-align: center;
    font-size: 16px;
}

button {
    margin-top: 5px;
}

.info {
    text-align: center;
}

.head {
    display: block;
    margin: auto;
    width: 80%;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.completed {
    font-size: 16px;
}

@media only screen and (max-width: 480px) {

.container {
    width: 95%;
}

h2 {
    font-size: 33px;
}

td {
    display: block;
}

.btn-xs {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-save {
    margin-top: 10px;
    margin-bottom: 8px;
}

.create-btn {
    margin-top: 15px;
}

}

@media only screen and (min-width: 481px) and (max-width: 853px) {

.container {
    width: 98%;
}

h2 {
    font-size: 35px;
}

td {
    display: block;
}

.btn-xs {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-save {
    margin-top: 10px;
    margin-bottom: 8px;
}

.create-btn {
    margin-top: 15px;
}

.input-edit {
    width: 250px;
}

}