html,
body {
    height: 100%;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.container {
        border-style: double;
        margin-top: 50px;
    }

.alert-success, 
.alert-danger {
    width: 25%;
    font-size: 16px;
}

.nav-tabs {
        margin-top: 30px;
        text-align:center;
    }

.nav-tabs > li {
    float:none;
    display:inline-block;
}

h2, h3 {
    font-family: 'Merriweather Sans', sans-serif;
}

.copyright {
    font-size: 18px;
    color: #999999;

}

ul {
    font-size: 18px;
}

.create {
    font-size: 18px;
}

input {
    text-align: center;
    font-size: 16px;
}

button {
    margin-top: 5px;
}

.info {
    text-align: center;
}

.completed {
    font-size: 16px;
}