html,
body {
    height: 100%;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.container {
        border-style: double;
        margin-top: 50px;
    }

.nav-tabs {
        margin-top: 30px;
        text-align:center;
    }

.nav-tabs > li {
    float:none;
    display:inline-block;
}

h2, h3 {
    font-family: 'Merriweather Sans', sans-serif;
}

ul {
    font-size: 18px;
}

.create {
    font-size: 18px;
}

input {
    text-align: center;
    font-size: 16px;
}

button {
    margin-top: 5px;
}

/* To ease up layouting a little, I use flexbox */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
