    <div class="container">

        <div class="page-header" align="center">
            <h2>AngularJS Personal Organizer</h2>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a ui-sref="list">List All Tasks</a></li>
                <li role="presentation"><a ui-sref="create">Create Task</a></li>
                <li role="presentation"><a ui-sref="completed">View Completed Tasks</a></li>
            </ul>       
         </div>

         <!-- SECTION DIVISION  -->

         <task-content ng-repeat="task in ListVM.tasks"
                       task-data="task"
         ></task-content>

    </div>


<!--

        <book ng-repeat="book in HomeVM.books"
          book-data="book"
          ng-class="{female: book.heroGender === 'female'}"
          ui-sref="story(book)">
        </book>

<story-content story-data="DashboardVM.story"></story-content>

-->





